<style>
    .blog-list {
        list-style: none;
        font-size: 175%;
        padding: 0;
    }
    .blog-description {
        font-size: 90%;
        font-style: italic;
        font-weight: normal;
    }
    .blog-list li {
        margin-bottom: 1em !important;
        position: relative;
        padding-left: 1rem;
    }
    .blog-date {
        font-size: 70%;
        vertical-align: middle;
    }
    .tag-section {
        margin-bottom: 0rem;
    }
    .tag-heading {
        margin-bottom: 0rem;
        padding-bottom: 0rem;
    }
    @media (max-width: 700px) {
        .blog-list {
            margin-left: -2vw;
        }
        .blog-date {
            font-size: medium !important;
        }
    }
</style>

<div class="tags-overview">
    {% for blog_tag_group in blog_tag_index %}
    <div class="tag-section">
        <h2 class="tag-heading">{{ blog_tag_group.tag }}</h2>
        <ul class="blog-list" id="{{ blog_tag_group.tag }}">
            {% for post in blog_tag_group.posts %}
            <li>
                <a href="{{ post.path }}">{{ post.title }}</a><span class="blog-date"> \ {{ post.date }}</span>
                <br/>
                <div class="blog-description">
                    {{ post.description }}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
