<style>
    .toc {
        position: fixed;
        left: 1%;
        width: 12.5%;
        font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif !important;
        font-size: 1.rem !important;
        font-weight: 600 !important;
        font-style: italic;

        vertical-align: baseline;
        top: 45vh; /* Positioned below sidebar */
    }

    .toc nav ul {
        list-style: none;
        padding: 0;
        line-height: 1.3 !important;
        margin: 0;
    }
    .toc nav li {
        margin-bottom: 0.3rem;
    }
    .toc nav a {
        text-decoration: none;
        display: block;
        font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif !important;
        font-size: 1.2rem !important;
        font-weight: 400 !important;
    }
    .toc .toc-level-1 a { padding-left: 4vh; }
    .toc .toc-level-2 a { padding-left: 5vh; }
    .toc .toc-level-3 a { padding-left: 6vh; }
    .toc .toc-level-4 a { padding-left: 7vh; }
    .toc .toc-level-5 a { padding-left: 8vh; }
    .toc .toc-level-6 a { padding-left: 9vh; }

    @media (max-width: 760px) {
        .toc {
            display: none;
        }
    }
</style>

<aside class="toc">
    <nav>
        <ul>
            {% for entry in page.toc %}
            <li class="toc-level-{{ entry.level }}">
                <a href="#{{ entry.id }}">{{ entry.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
</aside>
