<style>
    .sidebar {
        position: absolute;
        left: 1%;
        width: 12.5%;
        font-size: 1.5rem;
        line-height: 1.3;
        vertical-align: baseline;
        top: 35vh;
    }

    .sidebar nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .sidebar nav li {
        margin-bottom: 0.5rem;
    }

    .sidebar nav a {
        text-decoration: none;
        display: block;
        padding-left: 4vh;
    }

    .sidebar nav a:hover {
        text-decoration: underline;
    }

    .topbar {
        position: relative;
        left: 0;
        width: 100%;
        font-size: 1.5rem;
        line-height: 1.3;
        display: none;
        padding: 1rem 0;
        top: 23vh;
        margin-bottom: -8vh;
    }

    .topbar nav ul {
        list-style: none;
        padding: 0;

        display: flex;
        justify-content: left;
        gap: 4vh;
    }

    .topbar nav li {
        margin: 0;
    }

    .topbar nav a {
        text-decoration: none;
        display: block;
    }

    .topbar nav a:hover {
        text-decoration: underline;
    }

    /* Show the sidebar on large screens
    and show the navbar on small screens */
    @media (max-width: 760px) {
        .sidebar {
            display: none;
        }
        .topbar {
            display: block;
            font-size: 1rem;
        }
    }
</style>

<aside class="sidebar">
    <nav>
        <ul>
            <li><a href="/">~/</a></li>
            <li><a href="/blog/">~/blog</a></li>
        </ul>
    </nav>
</aside>

<aside class="topbar">
    <nav>
        <ul>
            <li><a href="/">~/</a></li>
            <li><a href="/blog/">~/blog</a></li>
        </ul>
    </nav>
</aside>
