/*
@tailwind base;
@tailwind components;
@tailwind utilities;
*/

@font-face {
    font-family: 'berkeley';
    src: url('/font/berkeley-mono.woff') format('woff');
}

@font-face {
    font-family: 'grotesk-sharp';
    src: url('/font/sharp-grotesk-light.woff') format('woff');
}

@font-face {
    font-family: 'Noto Serif';
    src: url('/font/noto-serif-italic.woff');
}

@font-face {
    font-family: 'emoji';
    src: url('/font/one-ui.woff');
}

:root {
	--dark-gray: rgb(16, 16, 16);
	--white: white;
	--off-white: rgb(196, 196, 196);
}

body {
	color: var(--white);
	background: var(--dark-gray);
}

html,
body {
    padding: 0;
	margin: 0;
	font-family: 'berkeley', monospace;
	line-height: 1.6;
	font-size: 22px;
    overflow-x: hidden; 
}

* {
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
    color: orange;
	text-decoration: none;
}

.hover-box {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-right: 32vw;
    text-wrap: wrap;
}

a:hover .hover-box {
    display: block;
}

code {
    font-family: 'berkeley';
    font-size: medium;
}

h1 {
    font-size: 32px;
    font-weight: bolder;
    margin-bottom: -2vh;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: -2vh;
}

h3 {
    font-size: 26px;
    margin-bottom: -2vh;
}

pre {
    font-family: 'berkeley';
    font-size: 16px;
    line-height: 1.1; 
    padding: 1vh 0.25vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 100%;
    border: 1px solid white;
    overflow: auto;
    color: #fff;
}

figure {
    text-align: center;
    margin-top: 5vh;
    max-width: 90%;
}

img {
	margin: auto;
	display: block;
	max-width: 100%;
}

figcaption {
    display: block;
    margin: auto;
    margin-top: -1vh;
    margin-bottom: 4vh;
    font-size: 18px;
    color:rgb(196, 196, 196);
}

ul {
    margin-left: 0;
    list-style: disc;
}

ol {
    margin-left: -20px;
    list-style: decimal;
}

li {
    margin-left: 0;
}

table {
    margin: auto;
    margin-bottom: 3vh;
    width: 100%;
    font-size: 70%;
}

th, td {
    padding: 2px white;
}

table, th, td {
    border: 1px solid white;
}

table a:hover {
    text-decoration: underline;
}

.katex-html {
    display: none;
}

.katex-mathml {
    display: block;
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-size: 32px;
}

blockquote {
    font-style: italic;
}

.white_rabbit:hover {
    color: #fff;
}


@media screen and (min-width: 300px) and (max-width: 767px) {
    body {
        font-size: 18px;
        overflow: auto;
    }

    .katex-mathml {
        font-size: 24px;
    }

    .hover-box {
        max-width: unset;
    }

    figcaption {
        font-size: 12px;
    }

    .hover-box {
        margin-right: 15vw;
    }
}

@media screen and (min-width: 768px) and (max-width: 1500px) {
    figcaption {
        font-size: 18px;
    }

    html, body {
        padding: 0;
        margin: 0;
        font-family: 'berkeley', monospace;
        line-height: 1.6;
        font-size: 22px;
    }

    .hover-box {
        margin-right: 30vw;
    }
    
}