.container {
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 25vh; /* if you change this, all breaks */
    z-index: 10;

    margin-bottom: 25vh;
}

img .container {
    max-width: 100%;
    margin: 0;
}

@media screen and (max-width: 540px) {
    .container {
        
    }
}
  
@media screen and (min-width: 541px)
            and (max-width: 1500px) {
    .container {
        
    }
}