@media screen and (max-width: 540px) {

}
  
@media screen and (min-width: 541px) and (max-width: 1500px) {

}

.container {
    font-family: 'source-serif-pro', 'grotesk-sharp', 'berkeley';
    font-weight: 550;
}

.container img {
    max-width: 90%;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.container a {
    text-decoration: underline;
}

